<!DOCTYPE html>
<html style="margin:1vw">
	<head>
		<title>{% block title %}{% endblock %}</title>

		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
		{% block style %}{% endblock %}

	</head>
	<body>
		<h2 style="display:inline; color:rgb(43, 41, 41)">{% block heading %}{% endblock %}</h2>
		<h4 style="display:inline; color:rgb(158, 154, 154)">{% block sub_heading %}{% endblock %}</h4>
		{% include 'share/nav.html' %}
		{% block content %}
		{% endblock %}
	</body>

</html>
