<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8"\>
		<title>Ex00: Markdown Cheatsheet.</title>
		<style>
			table {
				border: 3px navy solid;
				width: 1000px;
				border-collapse: collapse;
			}
			p#description {
				width: 1000px;
			}
			th {
				border-bottom: 2px navy double;
				border-left: 2px navy solid;
				border-right: 2px navy solid;
				height: 30px;
				background-color: lightblue;
			}
			td {
				border-bottom: 2px gray solid;
				border-left: 2px gray solid;
				border-right: 2px gray solid;
			}

		</style>
	</head>
	<body>
		<h1>Headings</h1>
		<p id="description">To create a heading, add number signs (#) in front of a word or phrase.
			The number of number signs you use should correspond to the heading level.
			For example, to create a heading level three (&lt;h3&gt;), use three number signs (e.g., ### My Header).</p>
		<table>
			<tr>
				<th>
					Markdown
				</th>
				<th>
					HTML
				</th>
				<th>
					Rendered Output
				</th>
			</tr>
			<tr>
				<td>
					# Hello
				</td>
				<td>
					&lt;h1&gt;Hello&lt;/h1&gt;
				</td>
				<td>
					<h1>Hello</h1>
				</td>
			</tr>
			<tr>
				<td>
					## Hello
				</td>
				<td>
					&lt;h2&gt;Hello&lt;/h2&gt;
				</td>
				<td>
					<h2>Hello</h2>
				</td>
			</tr>
			<tr>
				<td>
					### Hello
				</td>
				<td>
					&lt;h3&gt;Hello&lt;/h3&gt;
				</td>
				<td>
					<h3>Hello</h3>
				</td>
			</tr>
			<tr>
				<td>
					#### Hello
				</td>
				<td>
					&lt;h4&gt;Hello&lt;/h4&gt;
				</td>
				<td>
					<h4>Hello</h4>
				</td>
			</tr>
			<tr>
				<td>
					##### Hello
				</td>
				<td>
					&lt;h5&gt;Hello&lt;/h5&gt;
				</td>
				<td>
					<h5>Hello</h5>
				</td>
			</tr>
			<tr>
				<td>
					###### Hello
				</td>
				<td>
					&lt;h6&gt;Hello&lt;/h6&gt;
				</td>
				<td>
					<h6>Hello</h6>
				</td>
			</tr>

		</table>
	</body>
</html>
