{% extends 'base.html' %}
{% load static %}
{% block title %} Ex01: Django, framework web. {% endblock %}
{% block style %}<link rel="stylesheet" type="text/css" href="{% static 'style/style1.css' %}"> {% endblock %}
{% block content %}

<div class="page" id="p2">
	<span>
		Django was created in the fall of 2003, when the web programmers at the Lawrence Journal-World newspaper,<br>
		Adrian Holovaty and Simon Willison, began using Python to build applications.<br>
		Jacob Kaplan-Moss was hired early in Django's development shortly before Simon Willison's internship ended.<br>
		It was released publicly under a BSD license in July 2005. The framework was named after guitarist Django Reinhardt.<br>
		Adrian Holovaty is a Romani jazz guitar player and a big fan of Django Reinhardt.<br>
		In June 2008, it was announced that a newly formed Django Software Foundation (DSF) would maintain Django in the future.
	</span>
</div>

{% endblock %}
